/* ------------     PRICES   ----------------- */

.prices-plans {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 20px auto;
    @media (min-width: 860px) {
        flex-direction: row;
        width: 96%;
        margin: 40px auto;
    }
}

.prices {
    .plan {
        border: 1px solid var(--color4);
        border-radius: 20px;
        position: relative;
        padding: 30px 20px 33px;
        margin: 0 3% 70px;
        @media (min-width: 860px) {
            margin: 20px 0 23px 0;
            width: 30%;
        }
        &.basic {
            border-color: var(--color2);
            .price {
                color: var(--color2);
            }
            .btn {
                background-color: var(--color2);
                box-shadow: none;
                &:hover {
                    background: var(--color7);
                    box-shadow: 0px 12px 26px -19px var(--color7);
                }
            }
        }
        &.pro {
            border: 1px solid var(--color1);
            box-shadow: 8px 12px 35px -25px var(--color1);
            margin-left: 0;
            margin-right: 0;
            @media (min-width: 860px) {
                margin: 0 5%;
            }
            .price {
                color: var(--color1)
            }
            .btn {
                background-color: var(--color1);
                padding: 14px 65px;
                &:hover {
                    background: var(--color7);
                    box-shadow: 0px 12px 26px -19px var(--color7);
                }
            }
        }
        &.premium {
            border-color: var(--color3);
            .price {
                color: var(--color3)
            }
            .btn {
                background-color: var(--color3);
                box-shadow: none;
                &:hover {
                    background: var(--color7);
                    box-shadow: 0px 12px 26px -19px var(--color7);
                }
            }
        }
    }
    .plan-top {
        display: flex;
        align-items: center;
        @media (min-width: 860px) {
            flex-direction: column;
        }
    }
    .plan-title {
        font-size: 1.3em;
        font-weight: 700;
    }
    .price {
        font-size: 3em;
        font-weight: 300;
        margin: 30px 0 30px;
    }
    .plan-limited {
        font-size: .75em;
        font-weight: 700;
        color: var(--color10);
    }
    .plan-top-price {
        width: 40%;
    }
    .plan-features {
        margin: 0 auto;
        font-size: 0.9em;
        width: 60%;
        @media (min-width: 860px) {
            margin: 45px auto 30px;
            width: fit-content;
        }
        li {
            margin: 15px 10px 15px 40px;
            position: relative;
            width: fit-content;
            font-weight: 400;
            white-space: nowrap;
            @media (min-width: 860px) {
                margin: 15px auto;
                font-weight: 600;
            }
            &::before {
                position: absolute;
                content: " ";
                left: -20px;
                top: 7px;
                width: 11px;
                height: 11px;
            }
            &.yes::before {
                background: transparent url(../assets/Ckechmark-1.svg) no-repeat 00;
            }
            &.no::before {
                background: transparent url(../assets/Close.svg) no-repeat 00;
            }
        }
    }
    .plan-bottom {
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 100%;
    }
    .btn {
        margin: 0 auto;
        padding: 12px 57px;
        font-size: 0.8em;
    }
    //
}


/* ------------     PRICES END   ----------------- */